<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheVirtualTianguisProyect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TheVirtualTianguisProyect.Properties.Settings.Conexion"
            connectionString="Data Source=.;Initial Catalog=VirTian;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TheVirtualTianguisProyect.Properties.Settings>
            <setting name="IDEmpleados" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RFCCliente" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseApplication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContinueUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="permisoEditar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="permisoAlmacenar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="permisoVender" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoVentaAct" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IDFacturaAct" serializeAs="String">
                <value>0</value>
            </setting>
        </TheVirtualTianguisProyect.Properties.Settings>
    </userSettings>
</configuration>